@model carpurchasing_DAL.Models.Dto.Req.ReqLoginDto;
@using carpurchasing_DAL.Models.Dto.Req;
@{
    Layout = "_LayoutAuth";
}

<h1>Login User</h1>
<form method="post" asp-controller="Auth" asp-action="Login" class="mt-5">
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" asp-for="Username" id="username" />
    </div>
    <button type="submit" class="btn btn-primary" id="submitLogin">Submit</button>
</form>


@if (ViewBag.Message != null && ViewBag.Status != null)
{
    <h4>@ViewBag.Message</h4>
    <h4>@ViewBag.Status</h4>
}

@section Scripts {
    <script>
        $('#submitLogin').on('click', function (e) {
            e.preventDefault
            localStorage.setItem("username", $("#username").val());
        })

    </script>
}